<!-- 
    <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
        <h1> text {{ s}} </h1>
    </ks-swiper-slide> -->

<header class="col-xs-12" id="logo" >
    <img src="assets/nostrum-franchises.png" />
</header>
<div class="pagination">
	<button ng-repeat="x in progress track by $index" title="{{ x.text | translate }}" ng-disabled="x.status == 0" ng-click="to($index)" ng-class="{'active': $index == swiper.activeIndex}"></button>
</div>
<form name="form"  class="slider-{{swiper.activeIndex}}">
	<ks-swiper-container  swiper="swiper" on-ready="onReadySwiper(swiper)">
		<ks-swiper-slide>
			<div >
				<div class="full-slide col-lg-6 col-xs-12" ng-include="'templates/formsteps/candidat.html'">
				</div>
			</div>
		</ks-swiper-slide>
		<!-- <ks-swiper-slide>
			<div>
				<div class="full-slide col-lg-6 col-xs-12" ng-include="'templates/formsteps/address.html'">
				</div>
			</div>
		</ks-swiper-slide> -->
		<ks-swiper-slide>
			<div>
				<div class="full-slide col-lg-6 col-xs-12" ng-include="'templates/formsteps/situation.html'">
				</div>
			</div>
		</ks-swiper-slide>
		<ks-swiper-slide>
			<div>
				<div class="full-slide col-lg-6 col-xs-12" ng-include="'templates/formsteps/project.html'">	
				</div>
			</div>
		</ks-swiper-slide>
		<ks-swiper-slide>
			<div>
				<div class="full-slide col-lg-6 col-xs-12" ng-include="'templates/formsteps/project-2.html'">	
				</div>
			</div>
		</ks-swiper-slide>
		<ks-swiper-slide>
			<div>
				<div class="full-slide col-lg-6 col-xs-12" ng-include="'templates/formsteps/founding.html'"></div>
			</div>
		</ks-swiper-slide>
		<ks-swiper-slide>
			<div>
				<div class="full-slide col-lg-6 col-xs-12" ng-include="'templates/formsteps/other.html'"></div>
			</div>
		</ks-swiper-slide>
		<ks-swiper-slide>
			<div>
				<div class="col-xs-12 text-center">
					<h1>CONFIRMATION</h1>
					<p><input type="checkbox" ng-model="confirm" /> <span ng-click="confirm = !confirm">{{ 'Accept Terms & Conditions' | translate }} <a href="http://nostrum.eu/{{lang}}/privacy" target="_blank"> {{ 'Read terms and conditions' | translate }}</a> </span></p>
					<p><button ng-disabled="!confirm"  type="button" ng-click="submit()" class="btn btn-success submit-form" > {{ 'SUBMIT' | translate }} </button></p>
				</div>
			</div>
		</ks-swiper-slide>

	</ks-swiper-container>
</form>

<pre ng-show="false" class="preview">
	{{ model | json }}
</pre>